# React - ignore node_modules and build
frontend/node_modules/
frontend/build/

# Python - ignore virtual environment and compiled files
backend/venv/
backend/__pycache__/

# Ignore environment files
.env
backend/.env


# macOS system file (safe to include)
.DS_Store
node_modules/
