.via-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.submit-btn{
    color: "white";
    background-color: "#27ae60";
    width: 50%;
    box-shadow: "0 2px 8px rgba(0,0,0,0.2)";
    border:"none" ;
    border-radius:"8px" ;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.723);
}
.via-input{
    border: 1px solid black;
    border-radius: 20px;
}

.aiContainer {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aiResults {
  background-color: #eeeeee;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.723);
  line-height: 1;
}

.aiResults p {
  margin: 6px 0;
  font-size: 18px;
  font-family:Arial, Helvetica, sans-serif;
}
